@tailwind components;

@layer components {

    @keyframes fade-in {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    .fade-in {
        animation: fade-in 1.4s ease-in-out;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .fast-fade-in {
        animation: fade-in 0.6s ease-in-out;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    @keyframes fade-out {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }

    .fade-out {
        animation: fade-out 1.4s ease-in-out;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .fast-fade-out {
        animation: fade-out 0.6s ease-in-out;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    @keyframes hero-background-fade-in {
        0% {
            background-color: rgba(0, 0, 0, 0);
        }
        100% {
            background-color: rgba(0, 0, 0, 0.6);
        }
    }

    .hero-background-fade-in {
        animation: hero-background-fade-in 0.6s ease-in-out;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    @keyframes login-background-move {
        from {
            background-position: 0 0;
        }
        to {
            background-position: 400px -400px;
        }
    }

    .login-background-move {
        animation: login-background-move 30s linear infinite;
    }

    @keyframes slide-down {
        0% {
            transform: translateY(-100%);
        }
        100% {
            transform: translateY(0);
        }
    }

    .slide-down {
        animation: slide-down 0.8s ease-in-out;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    @keyframes zoom-out {
        0% {
            transform: scale(1.2);
        }
        100% {
            transform: scale(1);
        }
    }

    .fade-in-zoom-out {
        animation: fade-in 0.5s ease-in-out, zoom-out 0.5s ease-in-out;
        animation-fill-mode: none;
        animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    @keyframes scale-right-to-left {
        0% {
            transform: scaleX(0);
        }
        100% {
            transform: scaleX(1);
        }
    }

    .scale-right-to-left {
        animation: scale-right-to-left 0.4s ease-in-out;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    @keyframes slide-up-fade-in {
        0% {
            transform: translateY(25%);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

    .slide-up-fade-in {
        animation: slide-up-fade-in 0.4s ease-in-out;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    @keyframes account-slide-in {
        0% {
            transform: translateY(-300%);
        }
        100% {
            transform: translateY(0);
        }
    }

    .account-slide-in {
        animation: account-slide-in 0.7s ease-in-out;
        animation-fill-mode: none;
        animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    @keyframes login-error-box-slide-in {
        0% {
            transform: scaleY(0);
            height: 0;
            margin-top: 0;
        }
        100% {
            transform: scaleY(1);
            height: 100%;
            margin-top: 24px;
        }
    }

    .login-error-box-slide-in {
        animation: login-error-box-slide-in 0.4s ease;
        animation-fill-mode: forwards;
    }

    @keyframes login-error-box-shake {
        0% {
            transform: translateX(0);
        }
        25% {
            transform: translateX(-10px);
        }
        50% {
            transform: translateX(10px);
        }
        75% {
            transform: translateX(-10px);
        }
        100% {
            transform: translateX(0);
        }
    }

    .login-error-box-shake {
        animation: login-error-box-shake 0.4s ease;
        animation-fill-mode: forwards;
    }

    @keyframes smooth-slide-down-fade-in {
        0% {
            transform: translateY(-30px);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

    .smooth-slide-down-fade-in {
        animation: smooth-slide-down-fade-in 0.6s ease-in-out;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    @keyframes shimmer {
        0% {
          transform: translateX(-100%);
        }
        100% {
          transform: translateX(100%);
        }
    }

    .shimmer {
        position: relative;
        overflow: hidden;
    }

    .shimmer::before {
        content: '';
        position: absolute;
        top: 0;
        left: -100%;
        width: 200%;
        height: 100%;
        background: linear-gradient(to right, transparent 0%, #DEDEDE 50%, transparent 100%);
        animation: shimmer 1.1s infinite;
    }

    @keyframes modal-background-fade-in {
        0% {
            background-color: rgba(0, 0, 0, 0);
        }
        100% {
            background-color: rgba(0, 0, 0, 0.4);
        }
    }

    .modal-background-fade-in {
        animation: modal-background-fade-in 0.2s ease-in-out;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    @keyframes modal-background-fade-out {
        0% {
            background-color: rgba(0, 0, 0, 0.4);
        }
        100% {
            background-color: rgba(0, 0, 0, 0);
        }
    }

    .modal-background-fade-out {
        animation: modal-background-fade-out 0.1s ease-in-out;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    @keyframes modal-zoom-in {
        0% {
            transform: scale(0.8);
            opacity: 0;
        }
        100% {
            transform: scale(1);
            opacity: 1;
        }
    }

    .modal-zoom-in {
        animation: modal-zoom-in 0.2s ease-in-out;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    @keyframes modal-zoom-out {
        0% {
            transform: scale(1);
            opacity: 1;
        }
        100% {
            transform: scale(0.8);
            opacity: 0;
        }
    }

    .modal-zoom-out {
        animation: modal-zoom-out 0.15s ease-in-out;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    @keyframes dropdown-slide-in {
        0% {
            transform: translateY(-20px);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

    .dropdown-slide-in {
        animation: dropdown-slide-in 0.2s ease;
        animation-fill-mode: none;
    }

    @keyframes dropdown-slide-out {
        0% {
            transform: translateY(0);
            opacity: 1;
        }
        100% {
            transform: translateY(-20px);
            opacity: 0;
        }
    }

    .dropdown-slide-out {
        animation: dropdown-slide-out 0.2s ease;
        animation-fill-mode: forwards;
    }

}