@tailwind components;

@layer components {

    @keyframes fade-in {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    .fade-in {
        animation: fade-in 1.5s ease-in-out;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    @keyframes slide-down {
        0% {
            transform: translateY(-100%);
        }
        100% {
            transform: translateY(0);
        }
    }

    .slide-down {
        animation: slide-down 0.8s ease-in-out;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    @keyframes background-fade-in {
        0% {
            background-color: rgba(0, 0, 0, 0.95);
        }
        100% {
            background-color: rgba(0, 0, 0, 0.8);
        }
    }

    @keyframes shimmer {
        0% {
          transform: translateX(-100%);
        }
        100% {
          transform: translateX(100%);
        }
    }

    .shimmer {
        position: relative;
        overflow: hidden;
    }

    .shimmer::before {
        content: '';
        position: absolute;
        top: 0;
        left: -100%;
        width: 200%;
        height: 100%;
        background: linear-gradient(to right, transparent 0%, #E8E8E8 50%, transparent 100%);
        animation: shimmer 1.2s infinite;
    }

    .background-fade-in {
        animation: background-fade-in 0.5s ease-in-out;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    @keyframes zoom-out {
        0% {
            transform: scale(1.2);
        }
        100% {
            transform: scale(1);
        }
    }

    .fade-in-zoom-out {
        animation: fade-in 0.5s ease-in-out, zoom-out 0.5s ease-in-out;
        animation-fill-mode: none;
        animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    @keyframes scale-right-to-left {
        0% {
            transform: scaleX(0);
        }
        100% {
            transform: scaleX(1);
        }
    }

    .scale-right-to-left {
        animation: scale-right-to-left 0.4s ease-in-out;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    @keyframes slide-up-fade-in {
        0% {
            transform: translateY(25%);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

    .slide-up-fade-in {
        animation: slide-up-fade-in 0.4s ease-in-out;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    @keyframes account-slide-in {
        0% {
            transform: translateY(-300%);
        }
        100% {
            transform: translateY(0);
        }
    }

    .account-slide-in {
        animation: account-slide-in 0.7s ease-in-out;
        animation-fill-mode: none;
        animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    @keyframes account-dropdown-slide-in {
        0% {
            transform: translateY(-20%);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

    .account-dropdown-slide-in {
        animation: account-dropdown-slide-in 0.2s ease;
        animation-fill-mode: none;
    }

    @keyframes account-dropdown-slide-out {
        0% {
            transform: translateY(0);
            opacity: 1;
        }
        100% {
            transform: translateY(-20%);
            opacity: 0;
        }
    }

    .account-dropdown-slide-out {
        animation: account-dropdown-slide-out 0.2s ease;
        animation-fill-mode: forwards;
    }

    @keyframes login-error-box-slide-in {
        0% {
            transform: scaleY(0);
            height: 0;
            margin-top: 0;
        }
        100% {
            transform: scaleY(1);
            height: 100%;
            margin-top: 24px;
        }
    }

    .login-error-box-slide-in {
        animation: login-error-box-slide-in 0.4s ease;
        animation-fill-mode: forwards;
    }

    @keyframes login-error-box-shake {
        0% {
            transform: translateX(0);
        }
        25% {
            transform: translateX(-10px);
        }
        50% {
            transform: translateX(10px);
        }
        75% {
            transform: translateX(-10px);
        }
        100% {
            transform: translateX(0);
        }
    }

    .login-error-box-shake {
        animation: login-error-box-shake 0.4s ease;
        animation-fill-mode: forwards;
    }

    @keyframes smooth-slide-down-fade-in {
        0% {
            transform: translateY(-10%);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

    .smooth-slide-down-fade-in {
        animation: smooth-slide-down-fade-in 0.6s ease-in-out;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

}