@tailwind components;

@layer components {

    @keyframes fade-in {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    .fade-in {
        animation: fade-in 1.5s ease-in-out;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    @keyframes slide-down {
        0% {
            transform: translateY(-100%);
        }
        100% {
            transform: translateY(0);
        }
    }

    .slide-down {
        animation: slide-down 0.8s ease-in-out;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    @keyframes background-fade-in {
        0% {
            background-color: rgba(0, 0, 0, 0.95);
        }
        100% {
            background-color: rgba(0, 0, 0, 0.8);
        }
    }

    .background-fade-in {
        animation: background-fade-in 0.5s ease-in-out;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    @keyframes zoom-out {
        0% {
            transform: scale(1.2);
        }
        100% {
            transform: scale(1);
        }
    }

    .fade-in-zoom-out {
        animation: fade-in 0.5s ease-in-out, zoom-out 0.5s ease-in-out;
        animation-fill-mode: none;
        animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

}