@tailwind components;

.basicInputDiv {
    @apply w-full flex flex-col-reverse gap-1;
}

.basicInputLabel {
    font-family: 'Louis George Cafe', sans-serif;
    font-size: 16px;
    transition: all 0.3s ease;
}

.basicInput {
    width: 100%;
    padding: 6px 8px;
    font-family: 'Louis George Cafe', sans-serif;
    font-size: 16px;
    background-color: transparent;
    outline: none;
    border: 1.2px #3d3d3d solid;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.basicInput:focus + .basicInputLabel {
    color: red;
}

.basicSelect {
    padding: 8px 8px;
    font-family: 'Louis George Cafe', sans-serif;
    font-size: 16px;
    background-color: transparent;
    outline: none;
    border: 1.2px #3d3d3d solid;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.basicOption {
    font-family: 'Louis George Cafe', sans-serif;
    font-size: 16px;
    background-color: transparent;
    outline: none;
}

.basicInput:focus {
    border: 1.2px red solid;
}

.advancedInputDiv {
    @apply w-full h-[40px];
}

.advancedInput {
    width: 100%;
    padding: 8px 10px;
    font-family: 'Louis George Cafe', sans-serif;
    font-size: 16px;
    background-color: transparent;
    outline: none;
    border: 1.2px #3d3d3d solid;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.advancedInput:focus {
    border: 1.2px red solid;
}   

.advancedInputLabel {
    position: relative;
    top: -34px;
    left: 7.5px;
    font-family: 'Louis George Cafe', sans-serif;
    font-size: 15.6px;
    user-select: none;
    transition: all 0.14s ease;
    cursor: text;
}

.advancedInput:focus + .advancedInputLabel,
.advancedInput:not(:placeholder-shown) + .advancedInputLabel {
    top: -56px;
    left: 7.5px;
    font-size: 13.6px;
}

.advancedInput:focus + .advancedInputLabel {
    color: red;
}