@keyframes moveBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 400px -400px;
    }
}

.loginBackgroundMove {
    animation: moveBackground 30s linear infinite;
}

.loginBackground {
    @apply w-full h-screen flex justify-center items-center loginBackgroundMove;
    background-image: url("/images/seamless-pattern-with-kitchen-tools-doodles.jpg");
    background-color: #FFFFFF;
    background-size: contain;
    background-position: center;
    background-repeat: repeat;
    background-size: 400px 400px;
}

.loginImage {
    @apply w-full h-full;
    background-image: url("/images/culinaria-mineira-cpt.jpg");
    background-color: #FFFFFF;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.formDiv {
    @apply w-full h-[40px];
}

.formInput {
    width: 100%;
    padding: 8px 10px;
    font-family: 'Louis George Cafe', sans-serif;
    font-size: 16px;
    background-color: transparent;
    outline: none;
    border: 1.2px #3d3d3d solid;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.formInput:focus {
    border: 1.2px red solid;
}   

.formLabel {
    position: relative;
    top: -34px;
    left: 7.5px;
    font-family: 'Louis George Cafe', sans-serif;
    font-size: 15.6px;
    user-select: none;
    transition: all 0.14s ease;
    cursor: text;
}

.formInput:focus + .formLabel,
.formInput:not(:placeholder-shown) + .formLabel {
    top: -56px;
    left: 7.5px;
    font-size: 13.6px;
}

.formInput:focus + .formLabel {
    color: red;
}

.formInputSpan {
    padding: 0 5px;
    background-color: #FFFFFF;
}