@tailwind components;

@layer components {

    @keyframes slide-right {
        0% {
            transform: translateX(-100%);
        }
        100% {
            transform: translateX(0);
        }
    }

    .slide-right {
        animation: slide-right 0.8s ease-in-out;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    @keyframes slide-up {
        0% {
            transform: translateY(100%);
        }
        100% {
            transform: translateY(0);
        }
    }

    .slide-up {
        animation: slide-up 0.6s ease-in-out;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

}

.sidebar {
    @apply fixed sm:static bottom-0 
    flex flex-row sm:flex-col justify-between items-start
    w-full min-w-[240px] sm:w-[80px] sm:min-w-[80px] lg:w-[256px] lg:min-w-[256px]
    h-[72px] sm:h-full sm:min-h-screen sm:max-h-screen
    bg-gradient-to-b from-transparent to-neutral-900 sm:from-neutral-800 sm:to-neutral-900 px-0 sm:pt-14 sm:pb-6 gap-8 overflow-auto
    slide-up sm:slide-right transition-all z-40;
}

.sidebar::-webkit-scrollbar {
    @apply hidden;
}

.sidebarLinkBase {
    @apply w-full flex flex-col sm:flex-row justify-center lg:justify-start items-center 
    gap-1 lg:gap-4 px-1 lg:px-6 h-full sm:py-[14px] lg:py-[10px]
    cursor-pointer transition-all;
}

.sidebarLink {
    @apply sidebarLinkBase opacity-50 sm:opacity-100 sm:hover:bg-neutral-800;
}

.sidebarLinkMobileOnly {
    @apply sidebarLinkBase opacity-50 sm:hidden;
}

.sidebarLinkActive {
    @apply sidebarLinkBase opacity-100 sm:bg-neutral-700;
}

.sidebarLinkActiveMobileOnly {
    @apply sidebarLinkBase opacity-100 sm:hidden;
}

.sidebarLinkText {
    @apply font-lgc font-bold text-white text-center text-xs lg:text-lg block sm:hidden lg:block;
}